@charset "UTF-8";

/*common.css 모든페이지에 공통으로 적용*/

* {margin: 0 auto;} /*가운데정렬*/

/* 모든 콘텐츠를 포함하는 box */
#wrap {
    width: 1280px;
    background-color: #eeeeee; /*배경색*/
    text-align: center;
    position: relative;
}

/* 모든 image태그 테투리 없음 */
img {border: 0; margin: 0;}

/* ****************** Footer ********************* */
#footerBox div {
    background: #777777;
    border: solid 1px #999999;
    margin-top: 10px;
    padding: 20px;
    margin: 0;
}