@charset 'UTF-8';
/* index.css - index.html 전체에 영향을 미치는 css */
/* *********************** Header ************************ */

#headerBox {
    height: 60px;
    line-height: 60px; /*줄간격 - 수직 가운데로 배치*/
    padding: 0;
}

#logoBox {
    float: left;
    height: 60px;
    line-height: 60px;
}