{% extends 'base.html' %} <!-- 1번 라인에 있어야 에러가 안남 -->
{% load combot_filter %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark text-center">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>작성자</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr class="text-center">
<!--            forloop.counter 대신에 실제 일련번호로 수정-->
            <td>{{question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1}}</td>
            <td class="text_start">
<!--                앱명 : 별칭-->
                <a href="{% url 'combot:detail' question.id %}">{{ question.subject }}</a>
                {% if question.answer_set.count > 0 %}
                <span class="text-danger small ml-2">{{question.answer_set.count}}</span>
                {% endif %}
            </td>
            <td>{{question.author.username}}</td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if question_list.has_previous %} <!--이전 페이지가 있으면-->
        <li class="page-item">
            <a class="page-link" href="?page={{question_list.previous_page_number}}">이전</a>
        </li>
        {% else %} <!--이전 페이지가 없으면-->
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}

        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %}
<!--    페이지-5 <= 현재 페이지(page_number) <= 페이지+5   -->
<!--    5 6 7 8 9 [10] 11 12 13 14 15   -->
<!--    탬플릿 태그에서 연산을 하기 위해서는 필터를 사용해야 함(사칙연산이 허용이 안되어 있음)    -->
<!--    add:숫자    -->
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
            {% if page_number == question_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{page_number}}">{{page_number}}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_number}}">{{page_number}}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}

        <!-- 다음페이지 -->
        {% if question_list.has_next %} <!--다음 페이지가 있으면-->
        <li class="page-item">
            <a class="page-link" href="?page={{question_list.next_page_number}}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}

    </ul>
    <!-- 페이징처리 끝 -->

    <a href="{% url 'combot:question_create' %}" class="btn btn-primary">질문 등록하기</a>
</div>
{% endblock %}