{% extends 'base.html' %} <!-- 1번 라인에 있어야 에러가 안남 -->
{% block content %}
<div class="container">
  <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="post-form my-3">
      {% csrf_token %}
<!--  \{\{form.as_p}\}\-->
<!--  폼 오류 표시 : 폼에 데이터 입력 없이 저장하기 누른 경우-->
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for field in form %} <!-- 값이 없는 필드 개수만큼 반복 -->
          {% if field.errors %} <!-- 에러코드가 있으면 출력 -->
          <strong>{{field.label}}</strong> <!-- 에러가 난 필드명 출력 -->
          {{field.errors}}
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
<!--  오류표시 끝-->
      <div class="form-group">
        <label for="subject">제목</label>
        <input type="text" class="form-control" name="subject" id="subject"
                   value="{{form.subject.value|default_if_none:''}}">
      </div>
      <div class="form-group">
        <label for="content">내용</label>
        <textarea class="form-control" name="content"
                      id="content" rows="10">{{form.content.value|default_if_none:''}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}
