{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--  bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<!--  combot css-->
<!--  boostrap js  -->
    <script src="{% static 'bootstrap.min.js' %}"></script>
<!--  jquery js-->
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
</head>
<body>
<!--네비게이션바 시작-->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'combot:index' %}">COMBOT</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'accounts:logout' %}">{{user.username}}(로그아웃)</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
                    <span>또는 <a href="{% url 'accounts:signup' %}">계정을 만드세요.</a></span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--네비게이션 끝-->
<!--기본 템플릿안에 삽입될 내용 시작-->
{% block content %}
{% endblock %}
<!--기본 템플릿안에 삽입될 내용 끝-->
</body>
</html>